<div class="flex-center" style="margin-top: 10vh;">
<h1 class="white-title">Register</h1>
<br>
    <label for="username">User Name:</label>
    <input type="text" name="username" class="form-control col-3"/><br />
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" class="form-control col-3"/><br />
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" class="form-control col-3" /><br />
    <label for="password">Password:</label>
    <input type="password" name="password" class="form-control col-3"/>
    <br>
    <br>
    <button type="button" class="btn-lg pointer">Get Started</button>
</div>