<div class="navbar">
<ul class="nav float-left">
    <img src="../../../assets/pokeball.png" alt="Pokeball">
    <br>
    <li class="nav-item">
      <a class="nav-link active white-title" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-title" href="tutorial">Tutorial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link white-title" href="pokemon-table">Search</a>
      </li>
    <li class="nav-item">
      <a class="nav-link white-title" href="teams">My Team</a>
    </li>
</ul>
<ul class="nav float-right">
  <li class="nav-item" style="padding-bottom: 1.5vh;">
      <a class="nav-link white-title" href="login">Login</a>
  </li>
</ul>
</div>