<div>
<ul class="nav justify-content-start">
    <img src="../../../assets/pokeball.png" alt="Pokeball">
    <li class="nav-item">
      <a class="nav-link active white-title" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-title" href="pokemon-table">Create Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-title" href="tutorial">Tutorial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-title" href="#">TBA</a>
    </li>
  </ul>
</div>