<div style="text-align:center">
    <h1>
    Teams
    </h1>
</div>
<div class="teams">
    <div class="ind-teams">
        <div class="ind-pokemon" *ngFor="let p of pkmn">
            <img [src]="p.sprites['front_default']" [alt]="p.name">
        </div>
    </div>
</div>

<button (click)="getTeamTypes()">Get Team Types</button>
<button (click)="getDamageTo(teamTypes)">Get Damage To</button>
<button (click)="getDamageFrom(teamTypes)">Get Damage From</button>
<button (click)="test()">test</button>
<div>{{pkmn}}</div>
<div>{{teamTypes}}</div>
