<div style="text-align:center">
    <h1>
    Teams
    </h1>
</div>
<div class="teams">
    <div class="ind-teams">
        <div class="ind-pokemon" *ngFor="let p of pkmn">
            <img [src]="p.sprites['front_default']" [alt]="p.name">
        </div>
    </div>
</div>

<button (click)="test()">LoadTeams</button>
<button (click)="getDamageTo(teamTypes)">Get Damage To</button>
<button (click)="getDamageFrom(teamTypes)">Get Damage From</button>

<div>Strong Against 
    <ul *ngFor="let s of strong">
        <li>Type = {{s.name}}, Multiplier = {{s.multiplier}}</li>
    </ul>
</div>
<div>Weak Against 
    <ul *ngFor="let w of weak">
        <li>Type = {{w.name}}, Multiplier = {{w.multiplier}}</li>
    </ul>
</div>
