<div style="text-align:center">
    <h1>
    Teams
    </h1>
</div>
<div class="teams">
    <div class="ind-teams">
        <div class="ind-pokemon" *ngFor="let p of pkmn">
            <img [src]="p.PokemonPicture" [alt]="p.name">
        </div>
    </div>
</div>
<div style="margin-left: 1.5vw;">
<button (click)="test()">LoadTeams</button>
<button (click)="getDamageTo(teamTypes)">Get Damage To</button>
<button (click)="getDamageFrom(teamTypes)">Get Damage From</button>
</div>
<div class="row" style="margin-top: 5vh;">
<div style="margin-right: 10vw;"><b>Strong Against</b>
    <ul *ngFor="let s of strong" style="margin-top: 5vh;">
        <li>Type = {{s.name}}, Multiplier = {{s.multiplier}}</li>
    </ul>
</div>

<div><b>Weak Against</b> 
    <ul *ngFor="let w of weak" style="margin-top: 5vh;">
        <li>Type = {{w.name}}, Multiplier = {{w.multiplier}}</li>
    </ul>
</div>
</div>