<div class="jumbotron">
  <nav aria-label="..." class="flex">
    <ul class="pagination">
      <li [class]="paginationPage > 1 ? 'page-item' : 'page-item disabled'">
        <button (click)="pageChange(paginationPage - 1)" class="page-link">Previous</button>
      </li>
      <li *ngFor="let i of getPageinationLength()" [class]="i === paginationPage ? 'page-item active' : 'page-item'">
        <button (click)="pageChange(i)" class="page-link">{{i}}</button>
      </li>
      <li [class]="paginationPage < paginationLength ? 'page-item' : 'page-item disabled'">
        <button (click)="pageChange(paginationPage + 1)" class="page-link">Next</button>
      </li>
    </ul>
  </nav>
  <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped">
    <thead class="thead-secondary">
      <th>Number</th>
      <th>Image</th>
      <th>Name</th>
      <th>Type1</th>
      <th>Type2</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of pokemon" (click)="listItemClicked(p.id)">
        <td>{{p.id}}</td>
        <td><img [src]="p.sprites['front_default']" [alt]="p.name"></td>
        <td>{{p.name}}</td>
        <td>
          <div *ngIf="p.types[0] !== undefined">{{p.types[0].type.name}}</div>
        </td>
        <td >
          <div *ngIf="p.types[1] !== undefined">{{p.types[1].type.name}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
