<div style="text-align:center">
  <h1>
    Welcome to Pokemon Builder!
  </h1>



</div>

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>How it Works!</h2>
        <img src="../../../assets/poke-types.png" class="rounded mx-auto d-block w-50" alt="Image 1">
      </div>
      <div class="carousel-item">
        <h2>TBD</h2>
        <img src="../../../assets/pokemon-1.jpg" class="d-block mx-auto w-75" alt="Image 2">
      </div>
      <div class="carousel-item">
          <h2>TBD</h2>
        <img src="../../../assets/pokemon-1.jpg" class="d-block mx-auto w-75" alt="Image 3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<h2>Here is a quick tutorial about type and weaknesses </h2>


<br>

<br>

<br>
<div>
<h3>Understanding Pokemone Types Strength and Weaknesses</h3>

<h6>Pokemon <b>Types</b> Types are properties for Pokemon and their moves.
Currently as of the most recent generation of pokemon, we have 18 types. Some people referred to types also as as elements.</h6>
<hr>
<p>Strength and Weaknessses in Types:</p>
<ul>
  <li>We refer to as 'Type Match-Ups'.</li>
  <li>Strength: This is where certain Types can deal either Super Effective damage.</li>
  <li>Weakness: Not Very Effective damage, or no damage whatsoever to another Type depending on what Move you use</li>
  <li>Goal: we are constantly on the lookout for the best possible Type Match-Up in order to claim victory over our opponent!</li>

</ul>
</div>



<!--

<h3>In Depth Guide For Strength and Weaknesses in Type</h3>



<p>Normal Type</p>

<ul>
<li>Normal is weak to fighting.</li>
<li>Normal gives and recieves neutral damage to everything except for rock and steel which resist it, and ghost. </li>
<li>Normal is immune to ghost and can't damage it either. </li>
</ul>



<p>Grass Type</p>

<ul>
<li>Grass is weak to fire, flying, bug, posion, and ice. </li>
<li>Grass resists water, electricity, grass, and ground. </li>
<li>Grass is super effective on water, rock, and ground.</li>
</ul>

<p>Fire Type</p>

<ul>
<li>Fire is weak to water, ground, and rock.</li>
<li>Fire is super effective on grass, bug, ice, and steel.</li>
<li>Fire resists grass, fire, steel, ice, and fairy.</li>
</ul>

<p>Water Type</p>


<ul>
<li>Water is weak to grass and electric. </li>
<li>Water is super effective on fire, rock, and ground. </li> 
<li>Water resists fire, steel, water, and ice. </li>
</ul>



<p>Fighting Type</p>


<ul>
<li>Fighting is weak to psychic, fairy, and flying. </li>
<li>Fighting is super effective on rock, steel, ice, dark, and normal. </li> 
<li>Fighting resists rock, bug, and dark. </li>
</ul>

<p>Flying Type</p>


<ul>
<li>Flying is weak to electric, rock, and ice. </li>
<li>Flying is super effective on bug, grass, and fighting. </li>
<li>Flying resists fighting and grass. </li>
<li>Flying is immune to ground. </li>
</ul>

<p>Poison Type</p>

<ul>
<li>Poison is weak to ground and psychic.  </li>
<li>Poison is super effective on fairy and grass. </li>
<li>Poison resists fighting, poison, bug, grass, and fairy. </li>
<li>Poison has no effect on steel. </li>
</ul>


<p>Ground Type</p>

<ul>
<li>Ground is weak to water, grass, and ice. </li>
<li>Ground is super effective on electric, fire, rock, steel, and poison. </li>
<li>Ground resists poison, and rock.  </li>
<li>Ground is immune to electric. </li>
</ul>

<p>Rock Type</p>

<ul>
<li>Rock is weak to fighting, ground, water, grass, and steel. </li>
<li>Rock is super effective on fire, flying, ice, and bug.  </li>
<li>Rock resists normal, flying, fire, and poison. </li>
</ul>

<p>Bug Type</p>

<ul>
<li>Bug is weak to flying, rock, and fire. </li>
<li>Bug is super effective on grass, dark, and psychic. </li>
<li>Bug resists grass, fighting, and ground. </li>
</ul>


<p>Ghost Type</p>

<ul>
<li>Ghost is weak to ghost and dark. </li>
<li>Ghost is super effective on psychic and ghost. </li> 
<li>Ghost resists poison and bug.  </li>
<li>Ghost is immune to normal and fighting. </li> 
<li>Ghost has no effect on normal. </li>
</ul>

<p>Steel Type</p>
<ul>
<li>Steel is weak to fire, fighting, and ground. </li>
<li>Steel is super effective on rock, ice, and fairy. </li>
<li>Steel resists normal, flying, rock, bug, steel, grass, psychic, ice, dragon, and fairy. </li>
<li>Steel is immune to poison. </li>
</ul>

<p>Electric Type</p>
<ul>
<li>Electric is weak to ground. </li>
<li>Electric is super effective on water and flying. </li>
<li>Electric resists flying, electric, and steel.  </li>
<li>Electric has no effect on ground. </li>
</ul>



<p>Psychic Type</p>
<ul>
<li>Psychic is weak to bug, ghost, and dark. </li> 
<li>Psychic is super effective on poison, and fighting. </li>
<li>Psychic resists psychic and fighting. </li>
<li>Psychic has no effect on dark.</li>
</ul>

<p>Fire Type</p>
<ul>
<li>Ice is weak to fire, fighting, steel, and rock. </li> 
<li>Ice is super effective on dragon, grass, ground, and flying.</li> 
<li>Ice resists ice. </li>
</ul>

<p>Dragon Type</p>
<ul>
<li>Dragon is weak to dragon, ice, and fairy. </li> 
<li>Dragon is super effective on dragon. </li>
<li>Dragon resists fire, water, grass, and electric. </li> 
<li>Dragon has no effect on fairy </li>
</ul>

<p>Dark Type</p>

<ul>
<li>Dark is weak to fighting and bug. </li>
<li>Dark is super effective on psychic and ghost.</li> 
<li>Dark resists ghost and dark. </li>
<li>Dark is immune to psychic.</li>
</ul>

  <p>Fairy Type</p>

<ul>
<li>Fairy is weak to steel and poison. </li> 
<li>Fairy is super effective on dragon, dark, and fighting. </li> 
<li>Fairy resists dark, fighting, and bug. </li>
<li>Fairy is immune to dragon.</li>
</ul> -->
