<div style="text-align:center">
  <h1>
    Welcome to Pokemon Builder!
  </h1>
</div>
<h2>Here is a quick tutorial about type and weaknesses </h2>


<br>

<br>

<br>
cd

<h3>Understanding Pokemone Types Strength and Weaknesses</h3>

<h6>Pokemon <b>Types</b> Types are properties for Pokemon and their moves.
Currently as of the most recent generation of pokemon, we have 18 types. Some people referred to types also as as elements.</h6>
<hr>
<p>Strength and Weaknessses in Types:</p>
<ul>
  <li>We refer to as 'Type Match-Ups'.</li>
  <li>Strength: This is where certain Types can deal either Super Effective damage.</li>
  <li>Weakness: Not Very Effective damage, or no damage whatsoever to another Type depending on what Move you use</li>
  <li>Goal: we are constantly on the lookout for the best possible Type Match-Up in order to claim victory over our opponent!</li>

</ul>
