<div style="text-align:center">
  <h1>
    Welcome to Pokemon Builder!
  </h1>
</div>
<h2>Here is a quick tutorial about type and weaknesses </h2>


<br>

<br>

<br>
cd

<h3>Understanding Pokemone Types Strength and Weaknesses</h3>

<h6>Pokemon <b>Types</b> Types are properties for Pokemon and their moves.
Currently as of the most recent generation of pokemon, we have 18 types. Some people referred to types also as as elements.</h6>
<hr>
<p>Strength and Weaknessses in Types:</p>
<ul>
  <li>We refer to as 'Type Match-Ups'.</li>
  <li>Strength: This is where certain Types can deal either Super Effective damage.</li>
  <li>Weakness: Not Very Effective damage, or no damage whatsoever to another Type depending on what Move you use</li>
  <li>Goal: we are constantly on the lookout for the best possible Type Match-Up in order to claim victory over our opponent!</li>

</ul>


In Depth Guide For Strength and Weaknesses in Type

<p><b>Normal Type</b></p>
<ls>Normal is weak to fighting.</ls>
<ls>Normal gives and recieves neutral damage to everything except for rock and steel which resist it, and ghost. </ls>
<ls>Normal is immune to ghost and can't damage it either. </ls>



<p><b>Grass Type</b></p>
<ls>Grass is weak to fire, flying, bug, posion, and ice. </ls>
<ls>Grass resists water, electricity, grass, and ground. </ls>
<ls>Grass is super effective on water, rock, and ground.</ls>



<p><b>Fire Type</b></p>
<ls>Fire is weak to water, ground, and rock.</ls>
<ls>Fire is super effective on grass, bug, ice, and steel.</ls>
Fire resists grass, fire, steel, ice, and fairy.</ls>


<p><b>Water Type</b></p>
<ls>Water is weak to grass and electric. </ls>
<ls>Water is super effective on fire, rock, and ground. </ls> 
<ls>Water resists fire, steel, water, and ice. </ls>


<p><b>Fighting Type</b></p>
<ls>Fighting is weak to psychic, fairy, and flying. </ls>
<ls>Fighting is super effective on rock, steel, ice, dark, and normal. </ls> 
<ls>Fighting resists rock, bug, and dark. </ls>


<p><b>Flying Type</b></p>
<ls>Flying is weak to electric, rock, and ice. </ls>
<ls>Flying is super effective on bug, grass, and fighting. </ls>
<ls>Flying resists fighting and grass. </ls>
<ls>Flying is immune to ground. </ls>


<p><b>Poison Type</b></p>
<ls>Poison is weak to ground and psychic.  </ls>
<ls>Poison is super effective on fairy and grass. </ls>
<ls>Poison resists fighting, poison, bug, grass, and fairy. </ls>
<ls>Poison has no effect on steel. </ls>

<ls>Ground is weak to water, grass, and ice. </ls>
<ls>Ground is super effective on electric, fire, rock, steel, and poison. </ls>
<ls>Ground resists poison, and rock.  </ls>
<ls>Ground is immune to electric. </ls>


<p><b>Rock Type</b></p>
<ls>Rock is weak to fighting, ground, water, grass, and steel. </ls>
<ls>Rock is super effective on fire, flying, ice, and bug.  </ls>
<ls>Rock resists normal, flying, fire, and poison. </ls>


<p><b>Bug Type</b></p>
<ls>Bug is weak to flying, rock, and fire. </ls>
<ls>Bug is super effective on grass, dark, and psychic. </ls>
<ls>Bug resists grass, fighting, and ground. </ls>



<p><b>Ghost Type</b></p>
<ls>Ghost is weak to ghost and dark. </ls>
<ls>Ghost is super effective on psychic and ghost. </ls> 
<ls>Ghost resists poison and bug.  </ls>
<ls>Ghost is immune to normal and fighting. </ls> 
<ls>Ghost has no effect on normal. </ls>


<p><b>Steel Type</b></p>
<ls>Steel is weak to fire, fighting, and ground. </ls>
<ls>Steel is super effective on rock, ice, and fairy. </ls>
<ls>Steel resists normal, flying, rock, bug, steel, grass, psychic, ice, dragon, and fairy. </ls>
<ls>Steel is immune to poison. </ls>


<p><b>NElectric Type</b></p>
<ls>Electric is weak to ground. </ls>
<ls>Electric is super effective on water and flying. </ls>
<ls>Electric resists flying, electric, and steel.  </ls>
<ls>Electric has no effect on ground. </ls>


<p><b>Psychic Type</b></p>
<ls>Psychic is weak to bug, ghost, and dark. </ls> 
<ls>Psychic is super effective on poison, and fighting. </ls>
<ls>Psychic resists psychic and fighting. </ls>
<ls>Psychic has no effect on dark.</ls>


<p><b>Fire Type</b></p>
<ls>Ice is weak to fire, fighting, steel, and rock. </ls> 
<ls>Ice is super effective on dragon, grass, ground, and flying.</ls> 
<ls>Ice resists ice. </ls>


<p><b>Dragon Type</b></p>
<ls>Dragon is weak to dragon, ice, and fairy. </ls> 
<ls>Dragon is super effective on dragon. </ls>
<ls>Dragon resists fire, water, grass, and electric. </ls> 
<ls>Dragon has no effect on fairy </ls>


<p><b>Dark Type</b></p>
<ls>Dark is weak to fighting and bug. 
<ls>Dark is super effective on psychic and ghost. 
<ls>Dark resists ghost and dark. 
<ls>Dark is immune to psychic.


  <p><b>Fairy Type</b></p>
<ls>Fairy is weak to steel and poison. 
<ls>Fairy is super effective on dragon, dark, and fighting. 
<ls>Fairy resists dark, fighting, and bug. 
<ls>Fairy is immune to dragon.


</ul>